/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
* {
    color: white;
    
}

:root {
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    --box-shadow: 
    5px 4px 0 rgba(96, 52, 67, 1), /* First shadow */
    10px 10px 15px rgba(0, 0, 0, 0.5); /* Second shadow */
    --textshadow1: 4px 4px 0 black;
    --color1: #B11D56; 
    --color2: #603443;
    --font1: "Island Moments", cursive;
    --font2: "Jim Nightshade", cursive;
}

abbr { 
    text-decoration: none;
}
body {
    background-image: url(sakura-shadowed-long.png);   
    margin-top: 0;
    height: 200%;
    left: 0; 
    top: 0;
    display: flex;
}

header { 
    margin-top: 5vw;
    margin-left: 5vw;
    background-color: var(--color1);
    width: 79.234vw;
    height: 10.868vw;
    box-shadow: 
        5px 4px 0 rgba(96, 52, 67, 1), /* First shadow */
        10px 10px 15px rgba(0, 0, 0, 0.5); /* Second shadow */

    display: flex;
    flex-direction: column;
    font-family: "Island Moments", cursive;
    text-shadow: 4px 4px 0 black;
    text-decoration: none;
 
}

#zen-intro [role="banner"] h1 {
    margin-left: 1vw;
    font-weight: 300;
    font-size: 140px;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
}

h2:nth-child(2) {
    margin-left: 2.5vw;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0;
}

.intro .summary { 
    background-color: var(--color1);
    width: 57.917vw;
    height: 8.056vw;
    margin-left: 5vw;
    margin-top: 9.236vw;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    font-family: "Jim Nightshade", cursive;
    text-shadow: 4px 4px 0 black; 
    display: flex;
}

#zen-summary p { 
    display: flex;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
    margin-left: 1vw;
}
#zen-summary p:first-child { 
    font-size: 30px;
    margin-bottom: 0;
    width: 70%;
    display:block;
}
#zen-summary p:nth-child(2) { 
    font-size: 20px;
    margin-top: 0;
    
}

a:visited { 
    color: pink;
}

a[href="/examples/index"], a[href="/examples/style.css"] {
    color: rgb(255, 255, 255); 
    margin-left: .3vw;
}
a[href="/examples/index"] {
    margin-right: .3vw;
}


/* To cycle through the thing, make it scrollable and when clicked it will go to the next section using id's and :before's  */


#zen-preamble { 
    background-color: var(--color1);
    box-shadow: var(--box-shadow);
    width: 57.917vw;
    height: 26.806vw;
    margin-left: 5vw;
    margin-top: 4.027vw;    
}
#zen-preamble h3 { 
    padding-left: 1vw;
    padding-top: 1vw;
}
#zen-preamble p { 
    width: 90%;
    margin-top: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-family: var(--font2);
    font-size: 25px;
    text-shadow: var(--textshadow1);
}



.design-selection { 
    display: flex;
    width: 20.139vw;
    height: fit-content;
    flex-direction: column;

}

.select { 
    font-family: var(--font1);
    text-shadow: var(--textshadow1);
    margin-left: 1vw;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 1vw;
}

a:hover {
    color: pink;
}

aside.sidebar {
    position: absolute;
    right: 6.806vw;
    top: 18.819vw;
    width: 20.139vw;
    height: 54.167vw;
    background-color: var(--color1);
    text-shadow: var(--textshadow1);
    box-shadow: var(--box-shadow);
}

.sidebar a {
    text-shadow: 0px 2px 2px black;
}
.sidebar ul { 
    font-family: var(--font2);
    font-size: 20px;
    list-style-type: none;
}
.sidebar li { 
    margin-bottom: 1vw;

}
.archives { 
    font-family: var(--font1);
    text-shadow: var(--textshadow1);
    margin-left: 1vw;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 1vw;
}
.resources { 
    font-family: var(--font1);
    text-shadow: var(--textshadow1);
    margin-left: 1vw;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 1vw;
}

h3 {
    font-family: var(--font1);
    font-size: 40px;
    margin: 0;
    text-shadow: var(--textshadow1);
}


.main.supporting { 
    width: 57.917vw;
    height: 31.25vw;
    overflow-y: scroll;
    background-color: var(--color1);
    margin-left: 5vw;
    margin-top: 4vw;
}

.explanation p {
    width: 90%;
    margin-top: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-family: var(--font2);
    font-size: 25px;
    text-shadow: var(--textshadow1);
}

.participation p {
    width: 90%;
    margin-top: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-family: var(--font2);
    font-size: 25px;
    text-shadow: var(--textshadow1);
}

.benefits p {
    width: 90%;
    margin-top: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-family: var(--font2);
    font-size: 25px;
    text-shadow: var(--textshadow1);
}

.requirements p {
    width: 90%;
    margin-top: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
    font-family: var(--font2);
    font-size: 25px;
    text-shadow: var(--textshadow1);
}



@media screen and (min-width: 550px) {
    footer {

        position: absolute;
        right: 6.806vw;
        top: 80vw;
        width: 20.139vw;
        height: 5vw;
        background-color: var(--color1);
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: var(--box-shadow);
        font-family: var(--font2);
        font-size: 30px;
        text-shadow: 0px 2px 2px black;
    }
}

.main.supporting h3 { 
    margin-left: 1vw;
}

.explanation h3 { 
    margin-top: 1vw;
}