/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
* {
    color: white;
    
}

:root {
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    --box-shadow: 
    5px 4px 0 rgba(96, 52, 67, 1), /* First shadow */
    10px 10px 15px rgba(0, 0, 0, 0.5); /* Second shadow */
    --color1: #B11D56; 
    --color2: #603443;
}

abbr { 
    text-decoration: none;
}
body {
    background-image: url(sakuras-shadowed.png);
    margin-top: 0;
    left: 0; 
    top: 0;
    display: flex;
}
header { 
    margin-top: 5vw;
    margin-left: 5vw;
    background-color: var(--color1);
    width: 79.234vw;
    height: 10.868vw;
    box-shadow: 
        5px 4px 0 rgba(96, 52, 67, 1), /* First shadow */
        10px 10px 15px rgba(0, 0, 0, 0.5); /* Second shadow */
    display: flex;
    flex-direction: column;
    font-family: "Island Moments", cursive;
    text-shadow: 4px 4px 0 black;
    text-decoration: none;
 
}

#zen-intro [role="banner"] h1 {
    margin-left: 1vw;
    font-weight: 300;
    font-size: 96px;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
}

h2:nth-child(2) {
    margin-left: 2.5vw;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0;
}

#zen-summary { 
    background-color: var(--color1);
    width: 57.917vw;
    height: 8.056vw;
    margin-left: 5vw;
    margin-top: 14vh;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

#zen-summary.p { 

}
